@font-face {
  font-family: 'Fredoka';
  src: url('./fonts/Fredoka-Regular.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway.ttf');
}

@font-face {
  font-family: 'AfacadFlux';
  src: url('./fonts/AfacadFlux.ttf');
}
