@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  .icon-base {
    font-size: 1rem !important;
  }

  .md-30 {
    font-size: 1.875rem !important;
  }

  :root .light {
    --md-sys-color-primary: 15 102 129;
    --md-sys-color-surface-tint: 15 102 129;
    --md-sys-color-on-primary: 255 255 255;
    --md-sys-color-primary-container: 188 233 255;
    --md-sys-color-on-primary-container: 0 31 41;
    --md-sys-color-secondary: 76 97 107;
    --md-sys-color-on-secondary: 255 255 255;
    --md-sys-color-secondary-container: 207 230 242;
    --md-sys-color-on-secondary-container: 8 30 39;
    --md-sys-color-tertiary: 143 73 82;
    --md-sys-color-on-tertiary: 255 255 255;
    --md-sys-color-tertiary-container: 255 217 220;
    --md-sys-color-on-tertiary-container: 59 7 18;
    --md-sys-color-error: 186 26 26;
    --md-sys-color-on-error: 255 255 255;
    --md-sys-color-error-container: 255 218 214;
    --md-sys-color-on-error-container: 65 0 2;
    --md-sys-color-background: 245 250 253;
    --md-sys-color-on-background: 23 28 31;
    --md-sys-color-surface: 245 250 253;
    --md-sys-color-on-surface: 23 28 31;
    --md-sys-color-surface-variant: 220 228 233;
    --md-sys-color-on-surface-variant: 64 72 76;
    --md-sys-color-outline: 112 120 125;
    --md-sys-color-outline-variant: 192 200 204;
    --md-sys-color-shadow: 0 0 0;
    --md-sys-color-scrim: 0 0 0;
    --md-sys-color-inverse-surface: 44 49 52;
    --md-sys-color-inverse-on-surface: 237 241 245;
    --md-sys-color-inverse-primary: 138 208 238;
    --md-sys-color-primary-fixed: 188 233 255;
    --md-sys-color-on-primary-fixed: 0 31 41;
    --md-sys-color-primary-fixed-dim: 138 208 238;
    --md-sys-color-on-primary-fixed-variant: 0 77 99;
    --md-sys-color-secondary-fixed: 207 230 242;
    --md-sys-color-on-secondary-fixed: 8 30 39;
    --md-sys-color-secondary-fixed-dim: 180 202 213;
    --md-sys-color-on-secondary-fixed-variant: 53 74 83;
    --md-sys-color-tertiary-fixed: 255 217 220;
    --md-sys-color-on-tertiary-fixed: 59 7 18;
    --md-sys-color-tertiary-fixed-dim: 255 178 186;
    --md-sys-color-on-tertiary-fixed-variant: 114 51 60;
    --md-sys-color-surface-dim: 214 219 222;
    --md-sys-color-surface-bright: 245 250 253;
    --md-sys-color-surface-container-lowest: 255 255 255;
    --md-sys-color-surface-container-low: 240 244 248;
    --md-sys-color-surface-container: 234 238 242;
    --md-sys-color-surface-container-high: 228 233 236;
    --md-sys-color-surface-container-highest: 222 227 230;
  }

  :root .dark {
    --md-sys-color-primary: 138 208 238;
    --md-sys-color-surface-tint: 138 208 238;
    --md-sys-color-on-primary: 0 53 69;
    --md-sys-color-primary-container: 0 77 99;
    --md-sys-color-on-primary-container: 188 233 255;
    --md-sys-color-secondary: 180 202 213;
    --md-sys-color-on-secondary: 30 51 60;
    --md-sys-color-secondary-container: 53 74 83;
    --md-sys-color-on-secondary-container: 207 230 242;
    --md-sys-color-tertiary: 255 178 186;
    --md-sys-color-on-tertiary: 86 29 38;
    --md-sys-color-tertiary-container: 114 51 60;
    --md-sys-color-on-tertiary-container: 255 217 220;
    --md-sys-color-error: 255 180 171;
    --md-sys-color-on-error: 105 0 5;
    --md-sys-color-error-container: 147 0 10;
    --md-sys-color-on-error-container: 255 218 214;
    --md-sys-color-background: 15 20 23;
    --md-sys-color-on-background: 222 227 230;
    --md-sys-color-surface: 15 20 23;
    --md-sys-color-on-surface: 222 227 230;
    --md-sys-color-surface-variant: 64 72 76;
    --md-sys-color-on-surface-variant: 192 200 204;
    --md-sys-color-outline: 138 146 150;
    --md-sys-color-outline-variant: 64 72 76;
    --md-sys-color-shadow: 0 0 0;
    --md-sys-color-scrim: 0 0 0;
    --md-sys-color-inverse-surface: 222 227 230;
    --md-sys-color-inverse-on-surface: 44 49 52;
    --md-sys-color-inverse-primary: 15 102 129;
    --md-sys-color-primary-fixed: 188 233 255;
    --md-sys-color-on-primary-fixed: 0 31 41;
    --md-sys-color-primary-fixed-dim: 138 208 238;
    --md-sys-color-on-primary-fixed-variant: 0 77 99;
    --md-sys-color-secondary-fixed: 207 230 242;
    --md-sys-color-on-secondary-fixed: 8 30 39;
    --md-sys-color-secondary-fixed-dim: 180 202 213;
    --md-sys-color-on-secondary-fixed-variant: 53 74 83;
    --md-sys-color-tertiary-fixed: 255 217 220;
    --md-sys-color-on-tertiary-fixed: 59 7 18;
    --md-sys-color-tertiary-fixed-dim: 255 178 186;
    --md-sys-color-on-tertiary-fixed-variant: 114 51 60;
    --md-sys-color-surface-dim: 15 20 23;
    --md-sys-color-surface-bright: 53 58 61;
    --md-sys-color-surface-container-lowest: 10 15 17;
    --md-sys-color-surface-container-low: 23 28 31;
    --md-sys-color-surface-container: 27 32 35;
    --md-sys-color-surface-container-high: 38 43 45;
    --md-sys-color-surface-container-highest: 48 53 56;
  }
}
